#footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 20px;
  background-color: #ECECEC;
  font-size: 15px;
  padding: 20px;
}
#TitleBar{
height: 60px;
background-color: #ECECEC;
display: flex;
justify-content: center;
align-items: center;
width: 90%;
}
#TitleBar h1{
font-size:50px;
padding-left: 10px;
color: gray;
font-weight: bold;
font-family: sans-serif;
}
