#TitleBar{
height: 60px;
background-color: #FEE12B;
display: flex;
justify-content: center;
align-items: center;
width: 90%;
}
#TitleBar h1{
font-size:50px;
padding-left: 10px;
color: gray;

}
body{
  display: flex;
  flex-direction: column;
  align-items: center;
justify-content: flex-start;
  flex: 1;

}
#Java{
  width: 80%;
  height: 200px;
  background-color: #FEE12B;
  display: flex;
  justify-content: center;
  align-items: center;
}
#BottomBar{
height: 100px;
width: 100%;

background-color: #FEE12B;
position: fixed;
 bottom: 0;


}
