{}
#TitleBar{
height: 60px;
background-color: #ECECEC;
display: flex;
justify-content: center;
align-items: center;
width: 90%;
}
#TitleBar h1{
font-size:50px;
padding-left: 10px;
color: gray;
}
body{
  display: flex;
  flex-direction: column;
  align-items: center;
justify-content: flex-start;
}
#StartBar {
  height: 200px;
  width: 35%;
  background-color: #ECECEC;
  display: flex;
  justify-content: center;
  border-style: groove;
  padding: 10px;
}

#StartBar.form-popup {


  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}
#StartBar.form-container  {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}
#PasswordReset{
  height: 200px;
width: 35%;
background-color: #ECECEC;
display: flex;
justify-content: center;
border-style: groove;
padding: 10px;}

#PasswordReset.form-popup{
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}
#PasswordReset.form-container{
   max-width: 300px;
  padding: 10px;
  background-color: white;}
